body {
  margin: 0;
  font-family: Arial;
  background: #f4f6f9;
}

.container {
  padding: 20px;
  text-align: center;
}

.search-box {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin: 5px;
  width: 200px;
}

button {
  padding: 10px 15px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.card {
  background: white;
  padding: 15px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.verified {
  color: green;
  font-weight: bold;
}

.fraud {
  color: red;
  font-weight: bold;
}
input {
  display: block;
  margin: 10px auto;
}
.property-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
.property-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
.card:hover {
  transform: scale(1.03);
  transition: 0.2s;
}